# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build outputs
dist_modules
dist-ssr

# Local env files
*.local
*.localr

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Misc
*.suo
*.ntvs*
*.njsproj
*.slnproj
*.sw?

# Firebase/Secrets
.env
serviceAccountKey.json
.env
serviceAccountKey.json

# Sentry Config File
.sentryclirc
